arabic-reshaper
asgiref==3.7.2
asn1crypto
certifi
cffi
charset-normalizer
click
colorama==0.4.6
colorlog==6.7.0
contourpy
cryptography
cssselect2
cycler
datetime-truncate
dj-database-url
Django==4.2.7
django-admin-charts
django-bower
django-debug-toolbar==4.2.0
django-jazzmin
django-light
django-memoize
django-multiselectfield
django-nvd3
django-social-share
django-taggit
fonttools
freetype-py
gunicorn
html5lib
idna
importlib-resources
Jinja2
joblib==1.3.2
kaleido
kiwisolver
lxml
MarkupSafe
matplotlib
mysql-connector
mysql-connector-python
mysqlclient
numpy
oscrypto
packaging
pandas
patsy
Pillow
plotly
plotly-express
protobuf
psycopg2
pycairo
pycparser
pyHanko
pyhanko-certvalidator
PyMySQL
pyparsing
pypdf
pypng
python-bidi
python-dateutil
python-decouple
python-dotenv
python-nvd3
python-slugify
pytz
PyYAML
qrcode
reportlab
requests
rlPyCairo
scikit-learn
scipy
six
sqlparse
statsmodels
svglib
tenacity
threadpoolctl
tinycss2
typing_extensions
tzdata
tzlocal
Unidecode
uritools
urllib3
webencodings
whitenoise
xhtml2pdf
zipp
