
:root {
    --highlight: /*#f5f5f5;*/rgb(228, 95, 65);
    --blue: var(--highlight);
}

html, body {
    height: 100%;
    /* overflow: hidden; */
}

.main {
    width:calc(100% - 200px) !important;
    box-sizing: border-box !important;
}

.content {
    width: 100%;
    box-sizing: border-box;
}

.row {
    width: 100% !important;
}

.data-section {
    width: 100% !important;
    box-sizing: border-box;
}

.btn {
    background-color: var(--highlight) !important;
    border-color: var(--highlight) !important;
    color: white !important;
}

a {
    text-decoration: none !important;
}

/* Status */

.cardBox
{
    position: relative;
    width: 100%;
    /* padding: 20px; */
    display: grid;
    grid-template-columns: repeat(3,1fr); /* replace with number of box per row */
    /* grid-gap: 30px; */
   
}

.col-md-6
{
    box-sizing: border-box;
}

.cardBox-others
{
    margin-top: 20px !important;   
    /* width: 100%  !important; */
     /* replace PaddingValue with the padding of the parent div */
    width: calc(100% - 2 ) !important;
    align-items: center !important;
    display: flex !important;
    flex-wrap: wrap !important;
    /* position: relative !important; */
    justify-content: space-between !important;
    grid-template-columns: repeat(2,1fr) !important;
    gap: 20px !important;
}
.cardBox-others > * {
    flex: 1 0 200px; /* adjust 200px to change the minimum item width */
}

.cardBox-others .card1
{
    max-height: 150px !important;
    min-height: 150px !important;
    
}

.cardBox-others .col-md
{
    /* padding-left: 0px !important;
    padding-right: 0px !important; */
    width: max-content;
}

.cardBox .card1
{
    position: relative;
    background: var(--white);
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    
}

.cardBox .card1 .numbers
{
    position: relative;
    font-weight: 500;
    font-size: 2.5em;
    color: var(--blue);
}

.cardBox .card1 .cardName
{
    position: relative;
    font-size: 1.2em;
    color: var(--blue);
}

.cardBox .card1 .iconBx
{
   font-size: 3.5rem;
   color: var(--black2);
}

.cardBox .card1:hover
{
    background: var(--blue);
}

.cardBox .card1:hover .numbers,
.cardBox .card1:hover .cardName,
.cardBox .card1:hover:hover .iconBx
{
    color: var(--white);
}

/* tables */

.table-heading {
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    /* margin-bottom: 20px; */
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
}
.table-wrapper {
    /* width: 100%; adjust this value as needed */
    max-height: 500px; /* adjust this value as needed */
    overflow: auto;
}

table {
    width: 100%;
    display: block;
    overflow-x: auto;
    overflow-y: auto;
}

table td {
    width: 1%;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table-heading-btn {
    display: flex;
    align-items: end;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    /* align to end */
    margin-left: auto !important;
    margin-right: 0 !important;
}

.details
{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 30px;
    /* margin-top: 10px; */
    
}

.details .accounts
{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.cardHeader
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2
{
    font-weight: 600;
    color: var(--blue);
}

.btn
{
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;

}

.card-body {
    max-height: 500px !important;
}

.details table
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}



.details table thead th
{
    font-weight: 600;
}
.details table thead th:first-child
{
    text-align: start;
}

.details .accounts table tr
{
    color: var(--black1);
    border-bottom: 1px solid var(--black1);
}

.details .accounts table tr:last-child
{
    border-bottom: none;
}
.details .accounts table tr:hover
{
    background-color: var(--blue);
    color: var(--white);
}

.details .accounts table tr td
{
    padding: 10px;
}

.details .accounts table tr td:last-child
{
    text-align: end;
}

.details .accounts table tr td:nth-child(2)
{
    text-align: center;
}

.status.user_active
{
    padding: 2px 4px;
    background-color: yellowgreen;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.status.user_inactive
{
    padding: 2px 4px;
    background-color: orangered;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

.users
{
    position: relative;
    display: grid;
    min-width: 500px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}

.users .imgBx
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.users .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.users table tr:hover
{
    background-color: var(--blue);
    color: var(--white);
}

.users table tr td
{
    padding: 10px;
}
footer{
    display:none;
}

#filterForm {
    display: flex;
    gap: 10px;
}

.select-filter {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.3-5.4-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}

.skill-cell {
    position: relative;
}

.skill-tooltip {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

.skill-cell:hover .skill-tooltip {
    display: block;
}