/* Static CSS file or inline style */

main {
  background-image: url('../../static/images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
:root{
  /* --blue: white;#Ffa07a replace with orange */
  --white: #fff;
  --highlight: /*#f5f5f5;*/rgb(228, 95, 65);
  --black1: white;
  --black2: #999;
  --darkbg: #0D1117;
  /* --body-color: var(--white); */
  --body-color: #fffaf7;
  --body-rgba: rgba(255, 250, 247, 1);
  --card: var(--white); 
}


.section {
  padding: 30px 10px;
  width: 100%;

}

.home {

  /* display: flex; */
  /* flex-direction: row; */
  /* align-items: center; */
  /* justify-content: center; */
}
#header {
  height: 30vw;
  min-height: 200px;
  max-height: 300px;
}

header {
  background-image: url('../../static/images/home-headline1.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* center image */
  background-position: center;
  
  /* round edge */
  border-radius: 15px;
  margin: 0 20px;
  /* position: absolute; */
  /* top: 3%; */

  /* height: 280px; */
  height: 30vw;
  min-height: 200px;
  max-height: 300px;

  width: calc(100% - 40px);
  /* z-index: -1; */
}


.page-head {
  height: 30vw;
  min-height: 200px;
  max-height: 300px;

  padding: auto;
  /* position: relative; */
  /* z-index: 1; */
  width: 100%;
  /* display: block; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.page-head h1 {
  font-weight: bold;
  font-size: 8vw;
  line-height: 46px;
  margin: 21px auto;
}

.home-main {
  margin: auto;
  width: 100vw;
  max-width: 1100px;
  /* widht 100% - 100px */
  /* width: calc(100% - 200px); */
  /* width: 100%; */
}



.skill {
  width: 200px;
  margin: 8px;
  /* padding-right: 30px; */
}

.skill{
  /* background-color: var(--darkbg);
  color: #FFB072;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4); */
  /* padding: 10px; */
}
.skill-section {
  margin-bottom: 3px;
  /* background-color:  rgb(255, 192, 170); */
  background-color: var(--card);
  color: var(--black2);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
  padding: 10px;
}
.skill-section p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
}

.skill-bar-container {
  position: relative;
  width: 100%;
  height: 5px;
}

.skill-section h3 {
  margin-top: 0px;
  padding-left: 0px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.skill-score {
  margin: 20px 0;
}

.skill-score p {
  margin-bottom: 3px;
  color: black;
}
.skill-bar-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: rgb(235, 229, 229);
  border-radius: 3px;
}

.skill-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 5px;
  background-color: var(--highlight);
  border-radius: 3px;
}

h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  padding-left: 10px;
  margin-top: 25px;
  /* color: rgb(128, 128, 128); */
  color: #17181d;
}

#field-description {
  padding-left: 10px;
  max-width: 450px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: left;
  margin-bottom: 10px;
  color: var(--black2);
}

.outer {
  padding: 0 5px;
}

.intro-section {
  position: relative;
  padding: 10px;
  /* background-color: #FFA599; */
  background-color: rgb(255, 192, 170);
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
  margin: 30px 10px 10px 10px;
}

.intro-section .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-section .user-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 10px;
}

.intro-section .user-section h4 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.intro-section .user-section p {
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
  font-weight: normal;
}

.intro-section .user-section .btn {
  margin-top: 15px;
  margin-bottom: 5px;
  /* margin-left: 10px; */
  margin-right: 10px;
  /* background-color: #FFA599; */
  background-color:  var(--highlight);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
}

.intro-section .character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.intro-section .character img {
  /* position: absolute;  */
  /* width: 15%; */
  /* height: 200px; */
  /* width: 100px; */
  /* border-radius: 50%; */
  /* border: 2px solid white; */
  margin-bottom: 10px;
}

.intro-section .character .boy {
  position: absolute;
  height: 280px;
  top: -45px; 
  right: 1%;
}

.intro-section .character .girl {
  position: absolute;
  height: 210px;
  top: -30px; 
  right: 20%;
}



#specialization-container {
  display: flex;
  flex-wrap: wrap !important;
  justify-content: space-evenly;
  align-content: flex-start;
  gap: 20px 10px;
  max-height: 600px;
  /* hide or dont show out of thee div */
  overflow: hidden;
}

#specialization-container .card-link {
  min-width: 120px;
  flex-basis: 20%;
  
}


.card.specialization {
  /* height: 100px;
  width: 220px;
  min-height: 100px;
  min-width: 220px;
  max-height: 100px;
  max-width: 220px; */
  overflow: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.card-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.card-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.card-container {
  display: flex;
  overflow: auto;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
  padding: 10px;
 
}

/* .card-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px; 
  height: 100%;
   background: linear-gradient(to right, rgba(255,255,255,0),  var(--body-color), 100%);    
  #rgba(255,255,255,1)
  background: linear-gradient(to right, rgba(255,255,255,0), var(--body-color) 100%);
} */


.card-container-wrapper {
  position: relative;
  overflow: hidden; 
  display: flex;
}

/* .card-container-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50px; 
  height: 100%;
  background: linear-gradient(to right, rgba(255,255,255,0), var(--body-color) 100%);
} */

.card {
  /*box for fields*/
  /* border: 2px solid rgb(228, 95, 65); ; */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* width: 300px; */
  /* margin-left: 30px; */
  flex-shrink: 0;
  /* Prevent cards from shrinking to fit */
  /* text-align: center; */
  /* margin-right: 10px; */
  transition: background-color 0.3s ease;
  /* margin-left: 50px; */
  /* background-color: whitesmoke; */
  /* background-color: #fffaf7; */
  background-color: var(--card);
  /* color: rgb(228, 95, 65);  */
  color: black;
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.4);
  border-radius: 10px;

}

.card:hover {
  transform: scale(1.05); /* Slightly enlarge the card */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  cursor: pointer; /* Change cursor to pointer */
}




.card.field {
  /* background-color:rgb(228, 95, 65);  */
  /* background-color: #FFA599;; */
  height: 140px;
  width: 210px;
  overflow: hidden;
  color: white;
  size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.card img {
  /* height: 80px; */
  width: 20vw;
  /* padding-right: 20px; */
  display: inline-block;
}

.field_title {
  font-size: 28px;
  font-weight: bold;
  color: #d62b00;
  margin-right: 10px;
}
.recommendedfield_first .card.field{
  /* background-color: #FF6347;  */
  background-color: #FFB072;
  color: white; /* White text */
}

.recommendedfield_second .card.field{
  /* background-color: #ADFF2F; */
  /* background-color: #FF8470; */
  background-color: #F9FFA5;
  color: white; /* White text */
}

.recommendedfield_third .card.field{
  /* background-color: #1E90FF; */
  /* background-color: #FFA599; */
  background-color: #FFC0CB;
  color: white; /* White text */
}
/* color: #FFC6C2; */

.recommended-label {
  /* Small font */
  font-size: 12px;
}

.recommended_first {
  /* color gold */
  /* color: #ffff00; */
  color: #000;
  font-weight: bold;
}

.recommended_second {
  /* color silver */
  /* color: gold; */
  color: #000;
  font-weight: bold;
}

.recommended_third {
  /* color bronze */
  /* color: #f0e68c; */
  color: #000;
  font-weight: bold;
}

.card h3 {
  margin: 0;
  font-size: 18px;
}

.card-selected {
  font-weight: 900 !important;
  color: white !important;
  background-color: var(--highlight) !important;
  /* border: 2px solid #A9A9A9 !important; */
  /* box-shadow: 0 0 10px #A9A9A9 !important; */
}

.card-selected .field_title {
  color: white !important;
}

.specialization_title {
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 8px;
  /* color: var(--highlight); */
  color: #d62b00;
}



.specialization_description {
  /* dont extend out the card */
  overflow: hidden;

}

/* a .card.specialization {
  margin-left: 0;
  margin-right: 12px;
} */

.card.specialization p {
  /* Small font */
  font-size: 12px;
  /* left align */
  text-align: left;
  /* dont extend out the card */
  overflow: hidden;
  text-overflow: ellipsis;
  /* show ... if text overflows */
  /* white-space: nowrap; */
  /* allow 3 lines */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  /* color:rgb(228, 95, 65);  */
  max-height: 60px;
}

/* remove a styles */
a {
  text-decoration: none;
  /* color: transparent; */
  /* remove underline */
  text-decoration: none;
  /* remove blue color */
  color: inherit;
   /* underline color */
  text-decoration-color: transparent;
}

a:hover {
  /* text-decoration: underline; */
}


a:active {
  color: #000;
}

.card-title {
  color: #d62b00;
}

.card-text {
  color: black;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch; /* This makes all children take up full height */
}

.explore-section .container {
  display: flex;
  flex-wrap: wrap;
}

.explore-section .row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
  /* when screen is small bring down other elements */
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  gap: 20px 20px;
}

.explore-section .col {
  width: 45%;
  /* min-width: 400px; */

  display: flex;
  align-items: center;  
  justify-content: center;
  flex-wrap: wrap;
}



.explore-section .card {
  /* flex: 1 0 200px; */
  flex-shrink: 1;

  /* width: 400px;
  height: 400px; */

  margin: 0;
  padding: 50px;

  align-items: center;
  text-align: center;

}

.explore-section .card h3 {
  padding-left: 0px;
}

@media (max-width: 800px) {
  .explore-section .col {
    width: 100%; /* make the columns full width on small screens */
    min-width: 0; /* remove the minimum width on small screens */
  }
  .explore-section a {
    width: 80%;
  }
  .explore-section .card {
    width: 100%; /* make the cards full width on small screens */
    height: auto; /* let the height adjust based on the content */
  }
}


footer {
  /* display: none; */
  background-color: #000;

}



.field-recommendation {
  display: flex;
  justify-content: space-between;
}

.field-item {
  display: flex;
  flex-direction: row;
  width: 32%; /* adjust as needed */
}

.rank {
 
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50%; */
  width: 170px;
  height: 170px;
  overflow: hidden;
}

.rank p {
  font-size: 9em;
  font-weight: bold;

}

.field-link {
  /* display: flex;
  justify-content: center;  
  align-items: center; */
}

.field-card {
  /* width: 50%; */
  width: 170px;
  height: 170px;


  flex: 1;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  border: 1px solid #ccc; /* adjust as needed */
  border-radius: 5px; /* adjust as needed */
  padding: 10px; /* adjust as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* adjust as needed */
  
}

.field-card h2 {
  /* margin:5px;
  margin-right: 10px; */
  font-size: 30px;
  font-weight: 600;
  word-wrap: break-word;
  overflow: hidden;
}


/* roadmap */


.section-roadmap {
  margin: 70px auto;
}

.section-roadmap h3 {
  margin-bottom: 100px;
}


.roadmap-section {
  display: flex;
  align-items: center;
}

.roadmap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; /* Add this line */
  width: 80%;
  padding: 20px 0;
  margin: auto;
}

.roadmap-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 80%;
}

.line {
  position: absolute;
  width: 100%;
  height: 5%;
  background-color: #ddd;
  top: 27.5px; /* Adjust this value to position the line correctly */
  z-index: -1; /* Add this line */
}


.progress-line {
  position: absolute; 
  height: 5%;
  background-color: rgb(228, 95, 65);
  top: 27.5px;
  z-index: -1; /* Add this line */
}

.progress_1 {
  width: 25%;
}

.progress_2 {
  width: 50%;
}

.progress_3 {
  width: 75%;
}

.progress_4 {
  width: 100%;
}

.roadmap.second .step {
  width: 20px;
  height: 20px;
}

.step {
  width: 20px;
  height: 20px;
  background-color: #ddd;
  border-radius: 50%;
  position: relative; /* Add this line */
  z-index: 1; /* Add this line */
}

.step span {
  position: absolute;
  top: 30px; /* Adjust this value to position the label correctly */
  left: -10px; /* Adjust this value to position the label correctly */
  width: 40px; /* Adjust this value to fit the label */
  text-align: center; /* Add this line */
}

.step.active {
  background-color: rgb(228, 95, 65);
}

.step {
  /* ... existing styles ... */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the step */
}

.step:hover::after {
  content: attr(data-tooltip); /* Use the data-step attribute as the content of the tooltip */
  position: absolute;
  top: 30px; /* Position the tooltip above the step */
  left: 50%;
  transform: translateX(-50%); /* Center the tooltip */
  background-color: #333;
  color: #fff;
  max-width: 200px;
  /* make content be one new line if */
  padding: 5px;
  border-radius: 5px;
  /* white-space: nowrap; Prevent the tooltip from wrapping to the next line */
}

.roadmap-heading {
  margin: auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: centers;
}

.roadmap-heading h1, .roadmap-heading h3 {
  
}


.roadmap-step {
  display: grid;
  /* justify-content: space-between; */
  grid-template-columns: repeat(5,  1fr); /* Adjust the 200px to your desired minimum width */
  gap: 3px; /* Adjust the gap as needed */
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
}


.roadmap-line {
  position: absolute;
  width: 80%;
  left: 10%;
  height: 3px;
  background-color: #ddd;
  top: 50%; /* Adjust this value to position the line correctly */
  z-index: -1 !important; 
  
}

.step-card {
  /* background-color: #fff; */
  border-radius: 5px;
  display: block;
  
  position: relative;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  border: 1px solid #ddd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 7px;
  padding-top: 20px;
  margin: auto;
  /* margin-bottom: 50px; */
  max-width: 900px;
  /* wrap text */
  word-wrap: break-word;
  /* gap: 5px; */
  /* width: auto; */
  /* height: auto; */
  min-width: 150px;
  min-height: 200px;
  
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1 !important;
}

.step-card h4, .step-card ul, .step-card h5 {
  flex: 1;
}

.step-card h4 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 3px;
  /* align middle */
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-card h5 {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
  /* align middle */
  display: flex;
  justify-content: center;
  align-items: center;
  /* font weight */
  font-weight: 400;
  color: grey;
}

.step-card li {
  list-style-type: none;
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  position: relative;
  margin-left: 10px;
}

.step-card a {
  text-decoration: none;
  color: inherit;
}

.step-status {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #ddd;
  color: #fff;
  text-align: center;
  
}

.step-status.active {
  background-color: rgb(228, 95, 65);
}

.step-card li.active {
  color:rgb(228, 95, 65);
}

.step-card .milestone-status {
  content: "";
  /* position: absolute; */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: #4CAF50; */
  background-color: #ddd;
  color: #fff;
  z-index: 1;
  margin-right: 3px;
}

.step-card .milestone-status.active {
  background-color: rgb(228, 95, 65);
}


/* will display only when hovered */
.step-card.hidden {
  /* ... existing styles ... */
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* position: absolute; */
  transform: translate(-65.5px, 9px);
  /* left border */
  border-left: 2px solid #ddd;
}
.step-card.hidden ul li {
  display: flex;
  align-items: center;
}
.step-card:hover {
  opacity: 1;
}


.step-card.hidden .milestone-status {
  width: 15px;
  height: 15px;
  /* position: absolute; */
  /* top: 50%;
  left: -6%; */
  /* top: 30px;
  left: -10px */
  /* transform: translate(-50%, -50%); */
  border: 2px solid #ddd;
  margin-right: 15px;
}