<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CourseU Paths</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/paths.css' %}">

</head>

<body>
  <div class="heading">
    <h1>A Guide to Course University</h1>
    <p><b>Course University:</b> A career recommendation system caters to a diverse range of users, offering
      personalized guidance and recommendations to support PUP CCIS students in making well-informed decisions about
      their
      educational and professional journeys.</p>
  </div>

<div class="feature-section">
<div class="feature-heading">
  <h2>Course-U Features</h2>
  <div class="features">
    <div class="feature-container">
      <h3></h3>
      <div class="feature-item">
        <p></p>
      </div>
    </div>
  </div>
</div>
</div>

</body>

</html>