{% extends 'base_user.html' %}

{% block title %}Home{% endblock %}
{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock head_extra %}

{% block content %}
<style>
    body {
        margin: 0;
        padding: 0;
        background: url('{% static "images/bg.png" %}') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
    }

    .main_section{
        height:70vh;
        background-color:red;
        display:flex;
        width:70%;
        margin: auto;
        margin-top:60px;
        border-radius: 50%;
        
    }
    .dp_section{
        flex-basis:65%;
        
        background-color:#F8F3F2;
        text-align:center;
        padding-top:30px;
    }
    #dp_img{
        
        border-radius:50%;
        width:167px;
        margin:auto;
        height:157px;
        margin-top:45px;
    }
    #dp_img>img{
        border-radius:50%;
        width:100%;
        height:157px;
    }
    .side_menu_section{
        flex-basis:35%;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color: #C85103;
    }
    .side_menu_section>ul{
        text-align:center;
        list-style: none;
        width:230px;
    }
    .side_menu_section>ul>li{
        padding:15px;
        border-top: 2px solid rgba(255, 255, 255, 0.1);
        
        width:100%:
        
    }
    .side_menu_section>ul>li>a:hover{
        color:black;
    }
    .side_menu_section>ul>li>a{
        text-decoration:none;
        color:white;
        cursor:pointer;
    }
</style>
<div class="main_section" >
    <div class="dp_section">
        <h2>Welcome User!</h3>
        <p>
            {{ user.first_name}} {{ user.last_name}}
        </p>
        {% if user.is_authenticated %}
        <div id="dp_img">
            {% if user.userprofile.profile_picture %}
                <img src="{{ user.userprofile.profile_picture.url }}" alt="">
                <a href="/remove_profile_picture" style="font-size:12px;">Remove Profile Picture</a>
            {% else %}
            <img src="{% static 'images/no-profile-pic.png' %}" alt="">
                <p style="font-size:12px;">No profile picture available.<a href="/upload_profile_pic">Upload Now</a>.</p>
            {% endif %}
        </div>
        {% else %}
            <div id="dp_img">
                <img src="{% static 'images/no-profile-pic.png' %}" alt="">
            </div>
        {% endif %}
    </div>
    <div class="side_menu_section">
        <ul>
            <li>
                <a href="/edit_profile/">Edit Profile</a>
                
            </li>
            <li>
                <a href="/terms_and_conditions/">Terms And Conditions</a>
                
            </li>
            <li>
                <a href="/settings/">Settings</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
                
            </li>
        </ul>
    </div>
</div>


{% endblock content %}
